{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Mechanical engineer with a passion for welding and computer programming.</p>
        <p>Through perseverance I have achieved several life goals, from being a triathlon champion to changing countries and leading an English laser welding company to stardom.</p>
        <p>My work ethics and strong dedication have allowed me to strive in a fast paced industry where my contribution has been, at times, crucial for the outcome of several high end projects.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}